# I've dumped everything that I don't want to be source controlled.
# I will clean up this file and organise it at a later point.
**.docx
**.log
**.min.js
**.otf
**.pptx
**.ttf
**.woff
**.woff2
**.xlsx
**/.crossnote
**/.luarc.json
**/.quarto
**/Essay_USA
**/FS26
**/Geschichte_Faschismus_OLD
**/Uni_Social
**/output
.DS_Store
.vscode/spellright.dict
120-Studienplan Slavistik.pdf
2026/01-FS/.vscode
2026/01-FS/Abschlussaufgabe_Übersicht-Slavistik.pdf
2026/01-FS/Czesław_Miłosz/.vscode/settings.json
2026/01-FS/Einführung_Slavistik/.vscode/settings.json
2026/01-FS/LaTeX.code-workspace
2026/01-FS/Thesaurus_linguistischer_Fachbegriffe.docx
2026/01-FS/Uni.code-workspace
2026/01-FS/Woerterbuch_linguistischer_Fachbegriffe.docx
2026/Seminararbeit_Czesław-Miłosz/BibTeX
2026/Seminararbeit_Czesław-Miłosz/Konzept.md
2026/Seminararbeit_Czesław-Miłosz/Tasks.md
2026/Seminararbeit_Czesław-Miłosz/Template/unifr-paper.cls
2026/Studienreise_Istanbul-2026
60-Schema_Geschichte.pdf
60-Studienplan_Geschichte.pdf
60-Übersicht_Module_Geschichte.pdf
Lern- und Arbeitstechniken (Rost 2012).pdf
Studienplan_Bachelor.xlsx
TODO.md
TODO.md
University.code-profile
Vorlage_Seminararbeit_FR_ger.docx
Vorlesung_Geschichte der USA seit dem Bürgerkrieg.docx
uni-document
Studienplan_Bachelor.xlsx