LICENSE.txt
Studienplan_Bachelor.xlsx
**/Uni_Social
uni-document
**/FS26
Vorlesung_Geschichte der USA seit dem Bürgerkrieg.docx
60-Schema_Geschichte.pdf
60-Studienplan_Geschichte.pdf
60-Übersicht_Module_Geschichte.pdf
120-Studienplan Slavistik.pdf
Lern- und Arbeitstechniken (Rost 2012).pdf
University.code-profile
Vorlage_Seminararbeit_FR_ger.docx
.DS_Store
**/Geschichte_Faschismus_OLD
**/.luarc.json
2026/01-FS/Abschlussaufgabe_Übersicht-Slavistik.pdf
2026/01-FS/LaTeX.code-workspace
2026/01-FS/Thesaurus_linguistischer_Fachbegriffe.docx
2026/01-FS/Uni.code-workspace
2026/01-FS/Woerterbuch_linguistischer_Fachbegriffe.docx
2026/01-FS/.vscode
2026/Studienreise_Istanbul-2026
~$Studienplan_Bachelor.xlsx
2026/Seminararbeit_Czesław-Miłosz/Template/unifr-paper.cls
**/.quarto
**/Essay_USA
**/output
**.log
**.otf
**.ttf
**.pptx
**.docx
**.xlsx
**.woff2
**.woff
**.min.js
2026/01-FS/Czesław_Miłosz/.vscode/settings.json
2026/01-FS/Einführung_Slavistik/.vscode/settings.json
**/.crossnote
2026/Seminararbeit_Czesław-Miłosz/Konzept.md
