div[data-callout="border-blue"].callout {
  background-color: transparent;
  border: 1px solid;
  border-color: blue;
}
div[data-callout="border-blue"].callout > .callout-title {
  border-bottom: 1px solid;
}
div[data-callout="border-blue"].callout > .callout-title > .callout-icon {
  display: flex;
}
